$white: white;
$transparent: transparent;
$black: black;

// Forest suite
$softestForestGreen: #effaeb;
$lightForestGreen: #c1f0af;
$quasiLightForestGreen: #81d461;
$mediumForestGreen: #53b030;
$darkForestGreen: #256b0a;

// Flower suite
$semiSoftPink: #f774dd;
$mediumPink: #fb607f;

// Ocean suite
$oceanFroth: #ebfaf8;
$oceanSurf: #bbede6;
$mediumOceanSurf: #31b09e;
$notDeepBlue: #a1d9ed;
$deepBlue: #32afdd;
$beneathTheWaves: #283f52;

// Sunset suite
$citrusWisp: #fab98c;
$orangeSorbet: #f26c3f;

// Grays
$soapstone: #f8f9fa;
$heavySoap: #f2f4f5;
$softGray: #e6e6e6;
$semiSoftGray: #c2c2c2;
$lightGray: #949494;
$mediumGray: #6e6e6e;
$hardGray: #404040;

// Bootstrap
$warning: #e35b00;
$warningLight: #ffd7a8;
$danger: #dc3545;
$dangerDark: #7d151f;
$dangerLight: #f2cbcf;
$primary: #007bff;
$primaryLight: #c4e1ff;
$secondary: #5cb85c;
$borderGrey: #ced4da;

// Other
$linkBlue: #149cdb;
$facebookBlue: #4267b2;
$googleBlue: #4285f4;
